.rulesList {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 5px;
  padding: 10px;
  overflow: auto;
}

.rulesList::-webkit-scrollbar-thumb {
  display: none;
}

.rulesList::-webkit-scrollbar {
  display: none;
}

.rulesList::-webkit-scrollbar-track {
  display: none;
}
