.tweetList {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 81vh;
}

.tweetCard {
  width: 100%;
  padding: 15px;
  display: flex;
  gap: 10px;
}

.proPic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  /* background-color: aquamarine; */
  object-fit: cover;
}

.tweetDataContainer {
  width: 86%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.nameContainer {
  width: 100%;
  text-align: start;
  display: flex;
  gap: 5px;
}

.name {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
}

.userName {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  font-weight: 500;
}

.tweetContent {
  width: 100%;
  /* background-color: aquamarine; */
  /* margin-top: 10px; */
  text-align: start;
  padding-block: 6px;
}

.tweetMessage {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: 400;
}
